#Notebook inicial de EDA para llamadas 123

In [20]:
# importar librerias para manipulacion de datos
import numpy  as np
import pandas as pd

# importar librerias para visualizacion
import matplotlib.pyplot as plt


# importar librerias internas del sistema
import os
from pathlib import Path # de la libreria import solo traigame Path

In [21]:
# Ruta de los archivos de datos

current_dir = Path(".").resolve()
project_dir = Path(current_dir).parent

print("Directorio actual   ", current_dir)
print("Directorio principal", project_dir)

Directorio actual    C:\Users\ccamargo\Documents\BIGDATA_2022B\notebooks
Directorio principal C:\Users\ccamargo\Documents\BIGDATA_2022B

In [22]:
from importlib.resources import path
ejemplo_dir = os.path.abspath(".") # sirve para ver la ruta absoluta

print("la ruta del directorio es", ejemplo_dir)
print("Tambien se puede ver el directorio base", ejemplo_dir)

la ruta del directorio es c:\Users\ccamargo\Documents\BIGDATA_2022B\notebooks
Tambien se puede ver el directorio base c:\Users\ccamargo\Documents\BIGDATA_2022B\notebooks

In [23]:
#como extaer la ruta de una archivo desde donde estoy
from fileinput import filename
from logging import root
root_dir = Path(".").resolve().parent
filename = "llamadas123_julio_2022.csv"
root_dir
file_path = os.path.join(root_dir,"data","raw",filename)
file_path

'C:\\Users\\ccamargo\\Documents\\BIGDATA_2022B\\data\\raw\\llamadas123_julio_2022.csv'

In [24]:
#Para leer archivos cvs
df = pd.read_csv(file_path, sep=";", encoding="latin-1")# indicar que el separador del archivo esta con punto y coma y que reconozca UTF-8
df.head(3)

,NUMERO_INCIDENTE,FECHA_INICIO_DESPLAZAMIENTO_MOVIL,CODIGO_LOCALIDAD,LOCALIDAD,EDAD,UNIDAD,GENERO,RED,TIPO_INCIDENTE,PRIORIDAD,RECEPCION
0,CRU-00278353-22,2022-07-01 00:08:59,11,Suba,88,A¤os,FEMENINO,Norte,Accidente Cerebro Vascular,ALTA,2022-07-01 03:40:13
1,CRU-00278360-22,2022-07-01 00:14:58,11,Suba,16,A¤os,MASCULINO,Norte,Herido,ALTA,2022-07-01 03:38:13
2,CRU-00278365-22,2022-07-01 00:21:59,18,Rafael Uribe Uribe,52,A¤os,FEMENINO,Centro Oriente,Evento Respiratorio,CRITICA,2022-07-01 04:08:24

In [25]:
df.shape

(13055, 11)

In [8]:
df = pd.read_csv(file_path, sep=";", encoding="latin-1" ,nrows =100) # que traiga solo 100 registros
df.head
df.shape

df= pd.read_csv(file_path, sep=";", encoding = "latin-1") # que traiga solo 100 registros
df.shape[0] #contar solo filas, con la posiscion 0 son filas y l aposicion 1 son columnas

13055

In [26]:
df.dtypes #que tipo de datos tengo en la tabla

NUMERO_INCIDENTE                     object
FECHA_INICIO_DESPLAZAMIENTO_MOVIL    object
CODIGO_LOCALIDAD                      int64
LOCALIDAD                            object
EDAD                                 object
UNIDAD                               object
GENERO                               object
RED                                  object
TIPO_INCIDENTE                       object
PRIORIDAD                            object
RECEPCION                            object
dtype: object

In [27]:
df["EDAD"].value_counts(normalize=True, dropna=False)

SIN_DATO    0.475144
23          0.011566
22          0.010724
30          0.010341
27          0.010264
              ...
7           0.001302
98          0.001226
9           0.001149
8           0.001072
97          0.000919
Name: EDAD, Length: 100, dtype: float64

In [28]:
lista_columnas = df.columns
df.columns[5:8]

Index(['UNIDAD', 'GENERO', 'RED'], dtype='object')

In [29]:
len( df["TIPO_INCIDENTE"].unique() ) #cuenta la cantidad de datos

21

In [30]:
df["TIPO_INCIDENTE"].unique()#trae valores unicos de la columna

array(['Accidente Cerebro Vascular', 'Herido', 'Evento Respiratorio',
       'Intento de Suicidio', 'S¡ntomas Gastrointestinales', 'Enfermo',
       'Convulsi¢n', 'Ca¡da de Altura', 'Maltrato',
       'Inconsciente / Paro cardiorespiratorio',
       'Patolog¡a Ginecobst\x82trica', 'Dolor Tor\xa0cico',
       'Trastorno Mental', 'Intoxicaci¢n', 'Violencia Sexual',
       'Amenaza de Suicidio', 'Quemaduras', 'Acompa¤amiento Evento',
       'Electrocuci¢n / rescate', 'Solicitud de Apoyo',
       'Sangrado Vaginal'], dtype=object)

In [31]:
#verificar la data de cada campo o columna
df["TIPO_INCIDENTE"]
df["TIPO_INCIDENTE"].value_counts()#contar por grupos

Herido                                    3332
Inconsciente / Paro cardiorespiratorio    1840
Evento Respiratorio                       1704
Convulsi¢n                                1177
Enfermo                                    832
Trastorno Mental                           758
Dolor Tor cico                             706
Intento de Suicidio                        675
Accidente Cerebro Vascular                 391
S¡ntomas Gastrointestinales                377
Ca¡da de Altura                            312
Patolog¡a Ginecobsttrica                  275
Intoxicaci¢n                               260
Amenaza de Suicidio                        148
Acompa¤amiento Evento                      102
Violencia Sexual                            69
Maltrato                                    38
Electrocuci¢n / rescate                     18
Sangrado Vaginal                            18
Quemaduras                                  12
Solicitud de Apoyo                          11
Name: TIPO_INCIDENTE, dtype: int64

In [32]:
#verificar la data de cada campo o columna
df["TIPO_INCIDENTE"]
df["TIPO_INCIDENTE"].value_counts(normalize=True)#porcentaje por grupos

Herido                                    0.255228
Inconsciente / Paro cardiorespiratorio    0.140942
Evento Respiratorio                       0.130525
Convulsi¢n                                0.090157
Enfermo                                   0.063730
Trastorno Mental                          0.058062
Dolor Tor cico                            0.054079
Intento de Suicidio                       0.051704
Accidente Cerebro Vascular                0.029950
S¡ntomas Gastrointestinales               0.028878
Ca¡da de Altura                           0.023899
Patolog¡a Ginecobsttrica                 0.021065
Intoxicaci¢n                              0.019916
Amenaza de Suicidio                       0.011337
Acompa¤amiento Evento                     0.007813
Violencia Sexual                          0.005285
Maltrato                                  0.002911
Electrocuci¢n / rescate                   0.001379
Sangrado Vaginal                          0.001379
Quemaduras                                0.000919
Solicitud de Apoyo                        0.000843
Name: TIPO_INCIDENTE, dtype: float64

In [33]:
lista_columnas = df.columns

for col in lista_columnas:
    lista_unicos = df[col].unique() #agrupar valores unicos
    n_unicos = len(lista_unicos)
    print("columna",col,n_unicos)

columna NUMERO_INCIDENTE 12015
columna FECHA_INICIO_DESPLAZAMIENTO_MOVIL 12781
columna CODIGO_LOCALIDAD 20
columna LOCALIDAD 20
columna EDAD 100
columna UNIDAD 6
columna GENERO 3
columna RED 5
columna TIPO_INCIDENTE 21
columna PRIORIDAD 4
columna RECEPCION 5235

In [34]:
lista_columnas = df.columns
#crear un diccionaro vacio
dict_reporte = dict()

for col in lista_columnas:
    lista_unicos = df[col].unique() #agrupar valores unicos
    n_unicos = len(lista_unicos)
    dict_reporte[col] = n_unicos
    print("columna",col,n_unicos)

print("fuera del loop")
print(dict_reporte)

columna NUMERO_INCIDENTE 12015
columna FECHA_INICIO_DESPLAZAMIENTO_MOVIL 12781
columna CODIGO_LOCALIDAD 20
columna LOCALIDAD 20
columna EDAD 100
columna UNIDAD 6
columna GENERO 3
columna RED 5
columna TIPO_INCIDENTE 21
columna PRIORIDAD 4
columna RECEPCION 5235
fuera del loop
{'NUMERO_INCIDENTE': 12015, 'FECHA_INICIO_DESPLAZAMIENTO_MOVIL': 12781, 'CODIGO_LOCALIDAD': 20, 'LOCALIDAD': 20, 'EDAD': 100, 'UNIDAD': 6, 'GENERO': 3, 'RED': 5, 'TIPO_INCIDENTE': 21, 'PRIORIDAD': 4, 'RECEPCION': 5235}

In [35]:
df_reporte = pd.DataFrame.from_dict(dict_reporte, orient="index")# crear una tabla con el diccionario que tengo con pandas
df_reporte.rename({0: "Conteo"}, inplace = True, axis=1)# 1 buscar en la columna, 0 en la filas 
df_reporte

                                   Conteo
NUMERO_INCIDENTE                    12015
FECHA_INICIO_DESPLAZAMIENTO_MOVIL   12781
CODIGO_LOCALIDAD                       20
LOCALIDAD                              20
EDAD                                  100
UNIDAD                                  6
GENERO                                  3
RED                                     5
TIPO_INCIDENTE                         21
PRIORIDAD                               4
RECEPCION                            5235

In [36]:
out_name = "reporte_" + filename #para guardar el arcivo de salida que voy a obtener
out_name

'reporte_llamadas123_julio_2022.csv'

In [37]:
out_path = os.path.join(root_dir, "data", "processed", out_name) # guardar el archivo en cvs en la ruta especificada
df_reporte.to_csv(out_path)