## Data Cleaning 101

In [40]:
# importar librerias para manipulacion de datos
import numpy  as np
import pandas as pd

# importar librerias internas del sistema
import os
from pathlib import Path # de la libreria import solo traigame Path

# Ruta de los archivos de datos

current_dir = Path(".").resolve()
project_dir = Path(current_dir).parent

print("Directorio actual   ", current_dir)
print("Directorio principal", project_dir)

#como extaer la ruta de una archivo desde donde estoy
from fileinput import filename
from logging import root
root_dir = Path(".").resolve().parent
filename = "llamadas123_julio_2022.csv"
root_dir
file_path = os.path.join(root_dir,"data","raw",filename)
file_path

df = pd.read_csv(file_path, sep=";", encoding="latin-1")# indicar que el separador del archivo esta con punto y coma y que reconozca UTF-8
df.head()

data_source = Path(".").resolve().parent
file_name = "llamadas123_julio_2022.csv"
data_raw = os.path.join(data_source,"data","raw",file_name)
data = pd.read_csv(data_raw, sep =";", encoding="latin-1")
data

Directorio actual    C:\Users\ccamargo\Documents\BIGDATA_2022B\notebooks
Directorio principal C:\Users\ccamargo\Documents\BIGDATA_2022B

,NUMERO_INCIDENTE,FECHA_INICIO_DESPLAZAMIENTO_MOVIL,CODIGO_LOCALIDAD,LOCALIDAD,EDAD,UNIDAD,GENERO,RED,TIPO_INCIDENTE,PRIORIDAD,RECEPCION
0,CRU-00278353-22,2022-07-01 00:08:59,11,Suba,88,A¤os,FEMENINO,Norte,Accidente Cerebro Vascular,ALTA,2022-07-01 03:40:13
1,CRU-00278360-22,2022-07-01 00:14:58,11,Suba,16,A¤os,MASCULINO,Norte,Herido,ALTA,2022-07-01 03:38:13
2,CRU-00278365-22,2022-07-01 00:21:59,18,Rafael Uribe Uribe,52,A¤os,FEMENINO,Centro Oriente,Evento Respiratorio,CRITICA,2022-07-01 04:08:24
3,CRU-00278370-22,2022-07-01 00:38:38,19,Ciudad Bol¡var,SIN_DATO,SIN_DATO,SIN_DATO,Privada,Herido,ALTA,0000-00-00 00:00:00
4,CRU-00278372-22,2022-07-01 00:53:32,1,Usaqun,33,A¤os,MASCULINO,Norte,Intento de Suicidio,ALTA,2022-07-01 03:25:29
...,...,...,...,...,...,...,...,...,...,...,...
13050,CRU-00314021-22,2022-08-08 05:31:48,14,Los M rtires,18,A¤os,FEMENINO,Centro Oriente,Acompa¤amiento Evento,BAJA,8/08/2022 6:48
13051,CRU-00314021-22,2022-08-08 10:38:32,14,Los M rtires,SIN_DATO,SIN_DATO,SIN_DATO,Sur Occidente,Acompa¤amiento Evento,BAJA,0000-00-00 00:00:00
13052,CRU-00314021-22,2022-08-08 11:23:01,10,Engativ,11,A¤os,MASCULINO,Centro Oriente,Acompa¤amiento Evento,BAJA,9/08/2022 13:13
13053,CRU-00314021-22,2022-08-08 11:23:01,10,Engativ,19,A¤os,FEMENINO,Centro Oriente,Acompa¤amiento Evento,BAJA,0000-00-00 00:00:00
13054,CRU-00312775-22,0000-00-00 00:00:00,9,Fontib¢n,SIN_DATO,SIN_DATO,SIN_DATO,Sur Occidente,Accidente Cerebro Vascular,ALTA,0000-00-00 00:00:00

In [41]:
#obtener informacion basica de los datos
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13055 entries, 0 to 13054
Data columns (total 11 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   NUMERO_INCIDENTE                   13055 non-null  object
 1   FECHA_INICIO_DESPLAZAMIENTO_MOVIL  13055 non-null  object
 2   CODIGO_LOCALIDAD                   13055 non-null  int64
 3   LOCALIDAD                          13055 non-null  object
 4   EDAD                               13055 non-null  object
 5   UNIDAD                             13047 non-null  object
 6   GENERO                             13055 non-null  object
 7   RED                                13055 non-null  object
 8   TIPO_INCIDENTE                     13055 non-null  object
 9   PRIORIDAD                          13055 non-null  object
 10  RECEPCION                          13055 non-null  object
dtypes: int64(1), object(10)
memory usage: 1.1+ MB

In [42]:
#eliminar registros duplicados 
print("forma inicial", data.shape)
data = data.drop_duplicates()
data.reset_index(inplace=True, drop=True)
print("forma final", data.shape)

forma inicial (13055, 11)
forma final (13026, 11)

In [43]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13026 entries, 0 to 13025
Data columns (total 11 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   NUMERO_INCIDENTE                   13026 non-null  object
 1   FECHA_INICIO_DESPLAZAMIENTO_MOVIL  13026 non-null  object
 2   CODIGO_LOCALIDAD                   13026 non-null  int64
 3   LOCALIDAD                          13026 non-null  object
 4   EDAD                               13026 non-null  object
 5   UNIDAD                             13018 non-null  object
 6   GENERO                             13026 non-null  object
 7   RED                                13026 non-null  object
 8   TIPO_INCIDENTE                     13026 non-null  object
 9   PRIORIDAD                          13026 non-null  object
 10  RECEPCION                          13026 non-null  object
dtypes: int64(1), object(10)
memory usage: 1.1+ MB

In [44]:
#tratamiento de valores nulos
#nulo de strings -----> SIN_DATO , N/A
#nulo de numeros -----> NULL? numpy ----> np.nan
#nulo de fechas -----> NaT


col = "UNIDAD"
data[col].fillna("SIN_DATO", inplace=True)
data[col].value_counts(dropna=False, normalize=True)

C:\Users\ccamargo\AppData\Local\Temp\ipykernel_45636\2257611995.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[col].fillna("SIN_DATO", inplace=True)

A¤os        0.520574
SIN_DATO    0.475587
Meses       0.002994
Horas       0.000461
Dias        0.000384
Name: UNIDAD, dtype: float64

In [45]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13026 entries, 0 to 13025
Data columns (total 11 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   NUMERO_INCIDENTE                   13026 non-null  object
 1   FECHA_INICIO_DESPLAZAMIENTO_MOVIL  13026 non-null  object
 2   CODIGO_LOCALIDAD                   13026 non-null  int64
 3   LOCALIDAD                          13026 non-null  object
 4   EDAD                               13026 non-null  object
 5   UNIDAD                             13026 non-null  object
 6   GENERO                             13026 non-null  object
 7   RED                                13026 non-null  object
 8   TIPO_INCIDENTE                     13026 non-null  object
 9   PRIORIDAD                          13026 non-null  object
 10  RECEPCION                          13026 non-null  object
dtypes: int64(1), object(10)
memory usage: 1.1+ MB

In [46]:
fecha = "1985-02-30 00:00:00"
pd.to_datetime(fecha, errors = "coerce", format = "%Y/%m/%d")

NaT

In [47]:
col = "FECHA_INICIO_DESPLAZAMIENTO_MOVIL"
data[col] = pd.to_datetime(data[col], errors = "coerce")
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13026 entries, 0 to 13025
Data columns (total 11 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   NUMERO_INCIDENTE                   13026 non-null  object
 1   FECHA_INICIO_DESPLAZAMIENTO_MOVIL  13025 non-null  datetime64[ns]
 2   CODIGO_LOCALIDAD                   13026 non-null  int64
 3   LOCALIDAD                          13026 non-null  object
 4   EDAD                               13026 non-null  object
 5   UNIDAD                             13026 non-null  object
 6   GENERO                             13026 non-null  object
 7   RED                                13026 non-null  object
 8   TIPO_INCIDENTE                     13026 non-null  object
 9   PRIORIDAD                          13026 non-null  object
 10  RECEPCION                          13026 non-null  object
dtypes: datetime64[ns](1), int64(1), object(9)
memory usage: 1.1+ MB

C:\Users\ccamargo\AppData\Local\Temp\ipykernel_45636\2118837578.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[col] = pd.to_datetime(data[col], errors = "coerce")

In [48]:
col = "EDAD"
data[col]

0              88
1              16
2              52
3        SIN_DATO
4              33
           ...
13021          18
13022    SIN_DATO
13023          11
13024          19
13025    SIN_DATO
Name: EDAD, Length: 13026, dtype: object

In [49]:
col = "EDAD"
data[col].fillna("SIN_DATO", inplace=True)
data[col].value_counts(dropna=False, normalize=True)

C:\Users\ccamargo\AppData\Local\Temp\ipykernel_45636\4041643953.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[col].fillna("SIN_DATO", inplace=True)

SIN_DATO    0.474973
23          0.011515
22          0.010748
30          0.010287
27          0.010287
              ...
7           0.001305
98          0.001228
9           0.001152
8           0.001075
97          0.000921
Name: EDAD, Length: 100, dtype: float64

In [54]:
col = "EDAD"
data[col].replace({"SIN_DATO": np.nan}, inplace=True)
data[col]

C:\Users\ccamargo\AppData\Local\Temp\ipykernel_45636\187158203.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[col].replace({"SIN_DATO": np.nan}, inplace=True)

0         88
1         16
2         52
3        NaN
4         33
        ...
13021     18
13022    NaN
13023     11
13024     19
13025    NaN
Name: EDAD, Length: 13026, dtype: object

In [57]:
data[col].value_counts()

23    150
22    140
30    134
27    134
26    133
     ...
7      17
98     16
9      15
8      14
97     12
Name: EDAD, Length: 99, dtype: int64

In [56]:
data[col].unique()

array(['88', '16', '52', nan, '33', '57', '65', '14', '83', '35', '19',
       '53', '56', '45', '2', '18', '34', '84', '80', '7', '64', '41',
       '28', '23', '85', '92', '38', '11', '58', '70', '50', '27', '67',
       '54', '87', '24', '90', '99', '49', '91', '21', '62', '59', '26',
       '78', '30', '32', '51', '15', '79', '37', '60', '76', '22', '47',
       '61', '82', '86', '77', '63', '39', '89', '36', '97', '40', '75',
       '13', '25', '73', '69', '72', '68', '44', '31', '74', '81', '43',
       '20', '66', '10', '48', '29', '8', '17', '94', '55', '1', '4', '3',
       '9', '71', '46', '6', '95', '93', '98', '96', '42', '5', '12'],
      dtype=object)

In [66]:
#lambda for str_num = np.nan
str_num = "28"
f = lambda x: x if pd.isna(x) else int(x)
f(str_num)

28

In [68]:
# este codigo es para cambiar un numero string en un numero (float64)
f = lambda x: x if pd.isna(x) else int(x) 
data[col] = data[col].apply(f)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13026 entries, 0 to 13025
Data columns (total 11 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   NUMERO_INCIDENTE                   13026 non-null  object
 1   FECHA_INICIO_DESPLAZAMIENTO_MOVIL  13025 non-null  datetime64[ns]
 2   CODIGO_LOCALIDAD                   13026 non-null  int64
 3   LOCALIDAD                          13026 non-null  object
 4   EDAD                               6839 non-null   float64
 5   UNIDAD                             13026 non-null  object
 6   GENERO                             13026 non-null  object
 7   RED                                13026 non-null  object
 8   TIPO_INCIDENTE                     13026 non-null  object
 9   PRIORIDAD                          13026 non-null  object
 10  RECEPCION                          13026 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(1), object(8)
memory usage: 1.1+ MB

C:\Users\ccamargo\AppData\Local\Temp\ipykernel_45636\168600605.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[col] = data[col].apply(f)

In [70]:
col = "RECEPCION"
data[col]

0        2022-07-01 03:40:13
1        2022-07-01 03:38:13
2        2022-07-01 04:08:24
3        0000-00-00 00:00:00
4        2022-07-01 03:25:29
                ...
13021         8/08/2022 6:48
13022    0000-00-00 00:00:00
13023        9/08/2022 13:13
13024    0000-00-00 00:00:00
13025    0000-00-00 00:00:00
Name: RECEPCION, Length: 13026, dtype: object

In [77]:
## mas de datetimes
from dateutil.parser import parse
fecha= "may 29th 2021"
pd.to_datetime(fecha)
parse(fecha)

datetime.datetime(2021, 5, 29, 0, 0)

In [85]:
fecha = lambda x: parse(x)

list_fechas = list()
for fecha in data[col]:
    try:
        new_fecha = parse(fecha)
    except Exception as e:        
        new_fecha = pd.to_datetime(fecha, errors="coerce") # el error es este el print muestra pero se reemplaza con new_fecha
        #print(e)
        #continue

    list_fechas.append(new_fecha)

{list_fechas

data["RECEPCION_Carr"] = list_fechas
data.head()

#pd.to_datetime(data[col], errors="ignore")

C:\Users\ccamargo\AppData\Local\Temp\ipykernel_45636\3260372565.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["RECEPCION_Carr"] = list_fechas

,NUMERO_INCIDENTE,FECHA_INICIO_DESPLAZAMIENTO_MOVIL,CODIGO_LOCALIDAD,LOCALIDAD,EDAD,UNIDAD,GENERO,RED,TIPO_INCIDENTE,PRIORIDAD,RECEPCION,RECEPCION_Carr
0,CRU-00278353-22,2022-07-01 00:08:59,11,Suba,88.0,A¤os,FEMENINO,Norte,Accidente Cerebro Vascular,ALTA,2022-07-01 03:40:13,2022-07-01 03:40:13
1,CRU-00278360-22,2022-07-01 00:14:58,11,Suba,16.0,A¤os,MASCULINO,Norte,Herido,ALTA,2022-07-01 03:38:13,2022-07-01 03:38:13
2,CRU-00278365-22,2022-07-01 00:21:59,18,Rafael Uribe Uribe,52.0,A¤os,FEMENINO,Centro Oriente,Evento Respiratorio,CRITICA,2022-07-01 04:08:24,2022-07-01 04:08:24
3,CRU-00278370-22,2022-07-01 00:38:38,19,Ciudad Bol¡var,NaN,SIN_DATO,SIN_DATO,Privada,Herido,ALTA,0000-00-00 00:00:00,NaT
4,CRU-00278372-22,2022-07-01 00:53:32,1,Usaqun,33.0,A¤os,MASCULINO,Norte,Intento de Suicidio,ALTA,2022-07-01 03:25:29,2022-07-01 03:25:29

In [86]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13026 entries, 0 to 13025
Data columns (total 12 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   NUMERO_INCIDENTE                   13026 non-null  object
 1   FECHA_INICIO_DESPLAZAMIENTO_MOVIL  13025 non-null  datetime64[ns]
 2   CODIGO_LOCALIDAD                   13026 non-null  int64
 3   LOCALIDAD                          13026 non-null  object
 4   EDAD                               6839 non-null   float64
 5   UNIDAD                             13026 non-null  object
 6   GENERO                             13026 non-null  object
 7   RED                                13026 non-null  object
 8   TIPO_INCIDENTE                     13026 non-null  object
 9   PRIORIDAD                          13026 non-null  object
 10  RECEPCION                          13026 non-null  object
 11  RECEPCION_Carr                     5259 non-null   datetime64[ns]
dtypes: datetime64[ns](2), float64(1), int64(1), object(8)
memory usage: 1.2+ MB

In [95]:
# strings

word1 = "BigData"
word2 = " BigData"

print(word1.strip())
print(word2.strip())

BigData
BigData

In [96]:
word1.replace(" ", "")

'BigData'

In [104]:
word1.upper()

'BIGDATA'

In [105]:
word1.lower()

'bigdata'

In [106]:
word1.replace(" ", "-")

'BigData'

In [107]:
word1.capitalize()

'Bigdata'

In [108]:
col = "LOCALIDAD"
data[col].unique()

array(['Suba', 'Rafael Uribe Uribe', 'Ciudad Bol¡var', 'Usaqu\x82n',
       'La Candelaria', 'Antonio Nari¤o', 'San Crist¢bal', 'Teusaquillo',
       'Kennedy', 'Usme', 'Bosa', 'Tunjuelito', 'Engativ\xa0',
       'Los M\xa0rtires', 'Fontib¢n', 'Chapinero', 'Puente Aranda',
       'Santa Fe', 'Barrios Unidos', 'Sumapaz'], dtype=object)

In [111]:
import re

txt = "Los Martires"
re.search(".*tires", txt) == True
#txt = "Los M\xa0rtires"
#txt = "suba"

def encontrar_patron(patron, txt):
   if re.search(".*tires", txt):
      new_txt = "Los Martires"
      return new_txt
   else:
    pass

encontrar_patron("Los.*tires", "Los M\xa0rtires")

'Los Martires'

In [ ]:
#

In [ ]:
#pendiente de explicar
data[
    data.index.isin(data_no_dup.index)
]